.photo-grid__item {
    margin: 96px auto 12px;
    max-width: calc(100% - 96px);
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    list-style-type: none;
    line-height: 0;
  }
  
  @media (max-width: 1024px) {
    .photo-grid__item {
      grid-template-columns: repeat(3, 1fr);
      gap: 14px;
      margin-top: 91px;
    }
  }
  
  @media (max-width: 768px) {
    .photo-grid__item {
      max-width: calc(100% - 48px);
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 425px) {
    .photo-grid__item {
      max-width: calc(100% - 32px);
      grid-template-columns: repeat(1, 1fr);
      margin-top: 61px;
      gap: 12px;
    }
  }