.paragraph {
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-top: 30px;
    max-width: 484px;
    min-height: 145px;
    font-size: 18px;
    line-height: 1.63;
    font-weight: 400;
  }
  
  @media (max-width: 1024px) {
    .paragraph {
      margin-left: 12px;
      max-width: 456px;
    }
  }
  
  @media (max-width: 768px) {
    .paragraph {
      font-size: 16px;
      max-width: 352px;
      margin-left: 28px;
    }
  }
  
  @media (max-width: 425px) {
    .paragraph {
      margin-left: 14px;
      max-width: 285px;
      padding-left: 0;
      margin-top: 13px;
    }
  }