.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1184px;
    min-height: 18px;
    margin: 92px 48px 24px 48px;
  }
  
   @media (max-width: 768px) {
    .footer {
      margin-left: 24px;
      margin-right: 24px;
      max-width: 720px;
      margin-top: 84px;
      margin: 84px auto 24px;
    }
  }
  
  @media (max-width: 425px) {
    .footer {
      margin-top: 47px;
      margin-left: 16px;
    }
  }