.place__url-heading {
  max-width: 456px;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #aaa;
  font-weight: 400;
}

@media (max-width: 768px) {
  .place__url-heading {
    margin-bottom: 13px;
    margin-top: 0;
  }
}
